@charset "UTF-8";

.wrap{
	width:375px;
	height: 812px;
	background-color: black;
	display: flex;
	justify-content: center;
}

.dname{
	background-color: transparent;
	border : none;
	border-bottom: 1px solid white;
	color : white;
	margin: 100px;
	font-size: 17px;
	text-align: center;
	
}

.dname:focus{
	outline: none;
}

.dirwrap{
	margin: 80px 40px;
	display: flex;
	width: 250px;
	flex-wrap: wrap;
}

.dir{
	border: 1px solid white;
	width:50px;
	height: 30px;
	color : white;
	margin: 10px;
}