@charset "UTF-8";

.wrap{
	width:375px;
	height: 812px;
	background-color: black;
	display: flex;
	justify-content: center;
}

.fname{
	background-color: transparent;
	border : none;
	border-bottom: 1px solid white;
	color : white;
	margin: 100px;
	font-size: 17px;
	text-align: center;
	
}

.fname:focus{
	outline: none;
}