@charset "UTF-8";

.dirwrap{
	border: 1px solid white;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	color: white;
	justify-content: space-between;
}

.deletebox{
	background-color: white;
	border: 1px solid white;
	width:100%;
	position: sticky;
	bottom: 0;
	font-size: 50px;
	padding: 20px;
	text-align: center;
	display: none;
}