@charset "UTF-8";

.ktextarea{
	width: 100%;
	height: 100%;
}
.titlearea{
	position: relative;
}
.editbtn{
	position: absolute;
	top:0px;
	right: 0px;
	font-size: 40px;
	border: 2px solid white;
}