@charset "UTF-8";

/*----------------------------------------------------------------*/
/* Color Theme Swatches in Hex */
.Salar-de-Uyuni-1-hex { color: #533B59; }
.Salar-de-Uyuni-2-hex { color: #1A1426; }
.Salar-de-Uyuni-3-hex { color: #453873; }
.Salar-de-Uyuni-4-hex { color: #6B5BA6; }
.Salar-de-Uyuni-5-hex { color: #A191D9; }

/* Color Theme Swatches in RGBA */
.Salar-de-Uyuni-1-rgba { color: rgba(82, 58, 89, 1); }
.Salar-de-Uyuni-2-rgba { color: rgba(25, 19, 38, 1); }
.Salar-de-Uyuni-3-rgba { color: rgba(68, 56, 114, 1); }
.Salar-de-Uyuni-4-rgba { color: rgba(107, 91, 165, 1); }
.Salar-de-Uyuni-5-rgba { color: rgba(160, 145, 216, 1); }

/* Color Theme Swatches in HSLA */
.Salar-de-Uyuni-1-hsla { color: hsla(286, 20, 29, 1); }
.Salar-de-Uyuni-2-hsla { color: hsla(258, 31, 11, 1); }
.Salar-de-Uyuni-3-hsla { color: hsla(253, 34, 33, 1); }
.Salar-de-Uyuni-4-hsla { color: hsla(253, 29, 50, 1); }
.Salar-de-Uyuni-5-hsla { color: hsla(253, 48, 70, 1); }


/*----------------------------------------------------------------*/

html{
	width: 100%;
	height: 100%;
}

body{
	background: linear-gradient(#1A1426 ,#6B5BA6 , #453873,#533B59);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	/*드래그 방지*/
	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-use-select: none;
 	user-select: none;
}

/*input 클릭시 아웃라인 없애기*/
input:focus {outline:none;}

*{
	margin: 0; padding: 0;
}

.wrap{
	width: 90%;
	height: 90%;
	color: white;
	display: flex;
	flex-direction: column;
	position: relative;
}

/*---------제목 구역----------*/

.titlearea{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	/*---dirview.css의 .dirdelete 용 포지션*/
	/*---editKeyword.css의 .keywordeditbtn , .keyworddeletebtn용 포지션*/
	position: relative;
}
.titletext{
	height:50%;
	font-size: 60px;
}
.titleinputdiv{
	width:50%;
	border-bottom: 2px solid white;
}
.titleinput{
	width:100%;
	font-size: 60px;
	text-align: center;
	background-color: transparent;
	border: none;
	color: white;
	
	/*드래그 허용*/
	-webkit-user-select: all;
 	-moz-user-select: all;
 	-ms-use-select: all;
 	user-select: all;
 	
 	
}

/*---------공통구역(디렉토리,키워드)----------*/
.boxarea{
	width: 100%;
	height: 90%;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	overflow-y:scroll;
}
.onebox{
	width: 50%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.onecontent{
	width: 60%;
	height: 65%;
	position: relative;
}

/*---------키워드----------*/

.onekeywordsort{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.keywordtextdiv{
 	position: absolute;
	z-index: 999;
	top:30px;
	left:30px;
	width: 80%;
	height: 75%;
}
.keywordtext{
	color: black;
	width:100%;
	height:100%;
	font-size: 40px;
	overflow:hidden;
	text-overflow: ellipsis;
}


/* .keywordtextbox{ 키워드 박스크기 */
/* 	width: 95%; */
/* 	height: 80%; */
/* } */
/* .textdeco{ */
/* 	width: 100%; */
/* 	height: 22%; */
/* 	display: flex; */
/* } */
/* .texttopdeco{ */
/* 	width:100%; */
/* 	height:100%; */
/* 	border-left: 5px solid white; */
/* 	border-top: 5px solid white; */
/* } */
/* .righttriangle{ */
/* 	border-bottom: 40px solid white; */
/*  	border-left: 0px solid transparent; */
/*  	border-right: 40px solid transparent; */
/* } */
/* .textbox{ */
/* 	width: 96%; */
/* 	height: 80%; */
/* 	border: 5px solid white; */
/* 	border-top: none; */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* } */



/*--------롱텍스트 키워드----------*/
/* .keywordlongtext{ */
/* 	width:85%; */
/* 	height:80%; */
/* 	font-size: 30px; */
/* 	overflow:hidden; */
/* 	text-overflow: ellipsis; */
/* } */



/*---------디렉토리----------*/
/* .onedir{ */
/* 	width: 60%; */
/* 	height: 100%; */
/* } */

/* .onedirdeco{ */
/* 	width : 100%; */
/* 	height: 15%; */
/* } */
/* .ondirbox{ */
/* 	width: 100%;  */
/* 	height: 80%; */
/* 	display: flex; */
/* 	justify-content: center; */
/* } */
/* .dirdeco{ */
/* 	width: 30%; */
/* 	height: 100%; */
/* 	border: 5px solid white; */
/* 	border-bottom:none; */
/* 	border-radius: 20px 20px 0 0; */
/* } */
/* .dirbox{ */
/* 	width: 100%; */
/* 	height: 100%; */
/* 	border: 5px solid white; */
/* 	border-radius: 0 20px 20px 20px; */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* } */

.dirnamediv{
	width: 80%;
	height: 60%;
	position: absolute;
	z-index: 999;	
	top:50px;
	left:26px;
}

.dirname{
	width: 100%;
	height: 100%;
	font-size: 40px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	color:black;
}

/*---------추가버튼------------*/

.addbuttonsort{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.addbutton{
	width: 200px;
	height: 200px;
	background-color: #6e6e6e;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.plustext{
	position: absolute;
	top:-17px;
	color: black;
	font-weight:bold;
	text-align: center;
	font-size: 150px;
}

/*----------터치 홀드시 메뉴----------*/


.menuarea{
	position: absolute;
	width : 100%;
	height: 150px;
	bottom: 50px;
	display: none;
/* 	display: flex; */
}

.deletebtn , .editbtn{
	background-color: white;
	width: 50%;
	color: black;
	font-size: 50px;
	text-align: center;
	margin: 10px;
}


